@import "./variable";

.#{$tabs}-card {
  .#{$tabs}-ink-bar {
    visibility: hidden;
  }

  .#{$tabs}-divider {
    visibility: hidden;
  }

  .#{$tabs}-tab {
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    &-active {
      font-weight: 500;
      background-color: $tabs-node-background-color-active;

    }

    &-btn {

    }
  }

  &-text {
  }
}

