@import "./variable";

.#{$tabs}-card {
  .#{$tabs}-ink-bar {
    visibility: hidden;
  }

  .#{$tabs}-divider {
    visibility: hidden;
  }

  .#{$tabs}-tab {
    cursor: pointer;


    &-btn {
      width: 100%;
      height: 100%;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      padding: 0 8px;
    }
  }

  &-text {
  }
}

