@import "variable";

.#{$tabs} {
  &-rtl {
    direction: rtl;
    &.#{$tabs}-left {
      > .#{$tabs}-nav {
        order: 1;
      }
      > .#{$tabs}-content {
        order: 0;
      }
    }

    &.#{$tabs}-right {
      > .#{$tabs}-nav {
        order: 0;
      }
      > .#{$tabs}-content-holder {
        order: 1;
      }
    }
  }
}
