@import "src/components/core/styles/default";

$workspace: '#{$prefix}-work-space';

.#{$workspace} {
  width: 100vw;
  height: 100vh;

  &-width {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 48px;
  }

  &-top-bar-left {
    display: flex;
    width: 7rem;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
  }

  &-base-pane {
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 100%;
  }
}
