@import "./variable";

.#{$table}-fix-col-wrap {
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  border-color: $border-color-split;
  border-width: 1px;
  box-shadow: 4px 0 0 0 transparent;
  transition-property: border-bottom-color, box-shadow;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  position: absolute;
  left: 0;
  overflow: visible;
  top: 0;
  bottom: 0;
  z-index: 3;


  &-header {
    height: 32px;
    top: 0;
    z-index: 3;
    background-color: #f2f2f2;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
  }
}

.#{$table}-row-number {
  width: 35px;
  height: 32px;
  cursor: default;
  border-left: none;
  border-right: none;
  position: relative;
}
