@import "src/components/core/styles/default";

$workspace-right: '#{$prefix}-work-space-base-pane-right-content';

.#{$workspace-right} {
  flex: auto;
  height: 100%;
  z-index: 1;

  > .#{$workspace-right}-scroll-container {
    position: fixed;
    width: 100vw;
    left: 0;
    z-index: 1;

    > .#{$workspace-right}-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        padding: 10px 0 30px 5px;
        width: 100%;
        box-sizing: border-box;
      }

      .#{$workspace-right}-add-workspace {
        font-size: 1.1rem;
        margin-top: 30px;
        margin-bottom: 98px;
        align-self: flex-start;
        color: $hover-color-inverse;
        cursor: pointer;

        &:hover {
          color: $hover-font-color;
        }
      }
    }
  }


  &-title {
    display: flex;
    height: 40px;
    align-items: center;

    > *:first-child {
      flex: auto;
    }

    > *:last-child {
      flex: none;
    }
  }

  &-label {

  }

  &-share {
    font-size: 0.80rem;
    padding: 0;
    height: 26px;
    background-color: #20c933;
  }

  &-app-view {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    @media screen and (max-width: 796px) {
      grid-template-columns: 1fr
    }
  }

  &-item {
    border-radius: 8px;
    padding: 8px;

    > *:nth-child(2) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
