$prefix: ibr;


//size
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: $font-size-base - 2px;

$line-height-base: 1.5715;

// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small

// vertical margins
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

// easing
$animation-easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1); // Modal
$animation-easing-easeOut: cubic-bezier(0.0, 0, 0.2, 1);
$animation-easing-easeIn: cubic-bezier(0.4, 0, 1, 1);
$animation-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);

// Animation
$animation-duration-standard: 300ms; // Modal
$animation-duration-short: 250ms;
$animation-duration-shorter: 200ms;
$animation-duration-shortest: 150ms; //

// Border color
$border-color-base: #BFCCD6; // base border outline a component
$border-color-split: #A7B6C2; // split border inside a component
$border-color-inverse: #E1E8ED;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border

//back
$hover-color-base: #E1E8ED;
$hover-color-inverse: #738694;
$hover-font-color: #202B33;



// Outline
$outline-blur-size: 0;
$outline-width: 2px;
$outline-color: #EBF1F5;
$outline-fade: 20%;

//font-size
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: $font-size-base - 2px;


//background-color
$background-color-base: var(--bg-color);
$background-color-table: #EBF1F5;




