@import "src/components/core/styles/default";

$workspace-left: '#{$prefix}-work-space-base-pane-left-side';

.#{$workspace-left} {
  width: 25%;
  flex: none;
  display: flex;
  flex-direction: column;
  z-index: 99;
  position: relative;

  @media screen and (max-width: 796px) {
    display: none;
  }

  & > *:first-child {
    width: 80%;
    align-self: flex-start;
    margin-left: 10px;
  }

  &-work-item {
    border-radius: 8px;
    font-size: 13px;
    padding: 3px 16px;

    .#{$workspace-left}-drag {
      opacity: 0;
    }

    &:hover .#{$workspace-left}-drag {
      opacity: 1;
    }
  }
}
