@import "src/components/core/styles/default";

.#{$prefix}-setting-bar {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  grid-column-gap: 10px;
}
