@import "../view";


.#{$dataViews}-grid {
  display: flex;
  align-items: center;

  &-tool-bar {
    display: flex;
    margin: 0 5px;
    width: 100%;
    align-items: center;

    > button {
      flex: none;
    }

    > div {
      flex: auto;
    }

    > span {
      flex: none;
    }

  }

}
